/************************** Font import **************************/

@font-face {
	font-family: 'block';
	src: url('./fonts/block/block.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/************************** Dynamic background **************************/

 /* HTML CSSResult Skip Results Iframe
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
 
 :root {
   font-size: 15px;
 }
 
 body {
	font-family: 'Fira Code', monospace;
	/* font-family: 'block'; */
	margin: 0;
	min-height: 100vh;
	background-color: #FFFFFF; /* Fond principal blanc */
	background-image: 
	   radial-gradient(closest-side, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), /* Blanc */
	   radial-gradient(closest-side, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0)), /* Gris très clair */
	   radial-gradient(closest-side, rgba(163, 204, 175, 1), rgba(163, 204, 175, 0)), /* Vert pastel */
	   radial-gradient(closest-side, rgba(179, 223, 245, 1), rgba(179, 223, 245, 0)), /* Bleu pastel */
	   radial-gradient(closest-side, rgba(248, 199, 212, 1), rgba(248, 199, 212, 0)); /* Rose pastel */
	background-size: 
	   130vmax 130vmax,
	   80vmax 80vmax,
	   90vmax 90vmax,
	   110vmax 110vmax,
	   90vmax 90vmax;
	background-position:
	   -80vmax -80vmax,
	   60vmax -30vmax,
	   10vmax 10vmax,
	   -30vmax -10vmax,
	   50vmax 50vmax;
	background-repeat: no-repeat;
	animation: 10s movement linear infinite;
 }
 
 .blurred-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1; /* S'assurer que le flou est derrière le contenu */
}
.content {
    position: relative;
    z-index: 1;
}
 
 @keyframes movement {
   0%, 100% {
	 background-size: 
	   130vmax 130vmax,
	   80vmax 80vmax,
	   90vmax 90vmax,
	   110vmax 110vmax,
	   90vmax 90vmax;
	 background-position:
	   -80vmax -80vmax,
	   60vmax -30vmax,
	   10vmax 10vmax,
	   -30vmax -10vmax,
	   50vmax 50vmax;
   }
   25% {
	 background-size: 
	   100vmax 100vmax,
	   90vmax 90vmax,
	   100vmax 100vmax,
	   90vmax 90vmax,
	   60vmax 60vmax;
	 background-position:
	   -60vmax -90vmax,
	   50vmax -40vmax,
	   0vmax -20vmax,
	   -40vmax -20vmax,
	   40vmax 60vmax;
   }
   50% {
	 background-size: 
	   80vmax 80vmax,
	   110vmax 110vmax,
	   80vmax 80vmax,
	   60vmax 60vmax,
	   80vmax 80vmax;
	 background-position:
	   -50vmax -70vmax,
	   40vmax -30vmax,
	   10vmax 0vmax,
	   20vmax 10vmax,
	   30vmax 70vmax;
   }
   75% {
	 background-size: 
	   90vmax 90vmax,
	   90vmax 90vmax,
	   100vmax 100vmax,
	   90vmax 90vmax,
	   70vmax 70vmax;
	 background-position:
	   -50vmax -40vmax,
	   50vmax -30vmax,
	   20vmax 0vmax,
	   -10vmax 10vmax,
	   40vmax 60vmax;
   }
 }

/******************************************************************/
/************************** Centered box **************************/

.centered-box {
    display: flex; /* Activer Flexbox */
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    position: absolute; /* Nécessaire pour centrer au milieu de l'écran */
    top: 50%; /* Placer au centre verticalement */
    left: 50%; /* Placer au centre horizontalement */
    transform: translate(-50%, 50%); /* Ajustement pour centrer réellement */
    background-color: rgba(255, 255, 255, 0.5); /* Box blanche avec légère transparence */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    padding: 30px; /* Espacement intérieur */
    max-width: 400px; /* Largeur maximale pour petits écrans */
    width: 90%; /* Largeur relative pour écrans plus petits */
}

.centered-box h1 {
	font-family: 'block' !important;
    margin-bottom: 0px; /* Espacement sous le titre */
    text-align: center; /* Centrer le texte */
}

.centered-box h2 {
    font-size: 1.5rem; /* Taille de la police du titre */
    margin-bottom: 0px; /* Espacement sous le titre */
    text-align: left; /* Centrer le texte */
}

.centered-box label {
    font-size: 1rem; /* Taille de la police du titre */
    margin-bottom: 0px; /* Espacement sous le titre */
    text-align: center; /* Centrer le texte */
}

.centered-box form {
    width: 100%; /* Formulaire occupe toute la largeur de la box */
}

.centered-box button {
    width: 100%; /* Boutons occupent toute la largeur */
    /* margin-top: 15px; Espacement au-dessus des boutons */
}

.centered-box p {
	font-size: 0.9rem;
    text-align: center; /* Centrer les paragraphes */
    /* margin-top: 15px; Espacement au-dessus des liens */
}

/**************************************************************** */
/************************** Typing style **************************/

/* .wrapper {
	height: 100vh;
	display: grid;
	place-items: center;
  }
  
  .typing-demo {
	width: 22ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  } */

/**************************************************************** */

button:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border:rgba(255, 255, 255, 1)
}

/* styles.css */
/* body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f9fa;
	font-size: 1em;
} 
*/

body.dark {
	background-color: #000;
	color: #fff;
}

body.colorblind {
	background-color: #57c40f;
	color: #e90b0b;
}

nav {
    background-color: #c51616;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* #content {
	margin: 20px;
} */

button:focus, a:focus {
	outline: 10px solid #007bff;
}

select {
	background-color: #43807a;
	color: #ffffff;
	border: 2px solid #9c1743;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}



select::-ms-expand {
	display: none;
}



/* light colors */

select:focus {
	outline: 10px solid #007bff;
	border-color: #6e2a56;
}

select:hover {
	background-color: #3a6e63;
}

select:hover {
	background-color: #3a6e63;
}

body .navbar {
	background-color: #43807a !important;
	color: #9c1743 !important;
}

body .navbar .navbar-nav .nav-link {
	color: #000000 !important;
}

body .navbar .navbar-nav .nav-link:hover {
	color: #be1717 !important;
}

/* dark colors */
body.dark select {
	background-color: #030303;
	color: #ffffff;
	border: 2px solid #b437ae;
}

body.dark select:focus {
	outline: 10px solid #007bff;
	border-color: #6e2a56;
}

body.dark select:hover {
	background-color: #3a6e63;
}

body.dark select:hover {
	background-color: #3a6e63;
}

body.dark {
	background-color: #000;
	color: #fff;
}

body.dark .navbar {
	background-color: #666d3c !important;
	color: #370cd4 !important;
}

body.dark .navbar .navbar-nav .nav-link {
	color: #ffffff !important;
}

body.dark .navbar .navbar-nav .nav-link:hover {
	color: #ffcc00 !important;
}

/* colorblind colors */
body.colorblind select {
	background-color: #030303;
	color: #ffffff;
	border: 2px solid #b437ae;
}

body.colorblind select:focus {
	outline: 10px solid #007bff;
	border-color: #6e2a56;
}

body.colorblind select:hover {
	background-color: #3a6e63;
}

body.colorblind select:hover {
	background-color: #3a6e63;
}

body.colorblind {
	background-color: #57c40f;
	color: #e90b0b;
}
body.colorblind .navbar {
	background-color: #9cad3b !important;
	color: #4e0848 !important;
}

body.colorblind .navbar .navbar-nav .nav-link {
	color: #3c0a46 !important;
}

body.colorblind .navbar .navbar-nav .nav-link:hover {
	color: #d6b328 !important;
}

/* Font size */

.small-font h3 {
	font-size: 1.5em;
}

.medium-font h3 {
	font-size: 2em;
}

.large-font h3 {
	font-size: 2em;
}

body.small-font {
	font-size: 1em;
}

body.medium-font {
	font-size: 2em;
}

body.large-font {
	font-size: 3em;
}

select.small-font {
	font-size: 1rem;
}

select.medium-font {
	font-size: 2rem;
}

select.large-font {
	font-size: 3rem;
}

/******************************************/

#successMessage {
	font-size: 1rem;
	color:green;
}

#errorMessage {
	font-size: 1rem;
	color:red;
}