/************************** Font import **************************/

@font-face {
	font-family: 'Block';
	src: url('./fonts/block/block_merged.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/************************** Variables **************************/

:root {
	--inner-view-height: 550px;
}

/************************** Dynamic background **************************/

 /* HTML CSSResult Skip Results Iframe
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
 
 :root {
   font-size: 15px;
 }
 
 body {
	margin: 0;
	min-height: 100vh;
	background-color: #FFFFFF;
	background-image: 
        radial-gradient(closest-side, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 
        radial-gradient(closest-side, rgba(220, 220, 220, 1), rgba(220, 220, 220, 0)), 
        radial-gradient(closest-side, rgba(180, 180, 180, 1), rgba(180, 180, 180, 0)), 
        radial-gradient(closest-side, rgba(120, 120, 120, 1), rgba(120, 120, 120, 0)), 
        radial-gradient(closest-side, rgba(60, 60, 60, 1), rgba(60, 60, 60, 0)); 
    background-size: 
	   130vmax 130vmax,
	   80vmax 80vmax,
	   90vmax 90vmax,
	   110vmax 110vmax,
	   90vmax 90vmax;
	background-position:
	   -80vmax -80vmax,
	   60vmax -30vmax,
	   10vmax 10vmax,
	   -30vmax -10vmax,
	   50vmax 50vmax;
	background-repeat: no-repeat;
	animation: 10s movement linear infinite;
 }
 
 .blurred-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
}
 
 @keyframes movement {
   0%, 100% {
	 background-size: 
	   130vmax 130vmax,
	   80vmax 80vmax,
	   90vmax 90vmax,
	   110vmax 110vmax,
	   90vmax 90vmax;
	 background-position:
	   -80vmax -80vmax,
	   60vmax -30vmax,
	   10vmax 10vmax,
	   -30vmax -10vmax,
	   50vmax 50vmax;
   }
   25% {
	 background-size: 
	   100vmax 100vmax,
	   90vmax 90vmax,
	   100vmax 100vmax,
	   90vmax 90vmax,
	   60vmax 60vmax;
	 background-position:
	   -60vmax -90vmax,
	   50vmax -40vmax,
	   0vmax -20vmax,
	   -40vmax -20vmax,
	   40vmax 60vmax;
   }
   50% {
	 background-size: 
	   80vmax 80vmax,
	   110vmax 110vmax,
	   80vmax 80vmax,
	   60vmax 60vmax,
	   80vmax 80vmax;
	 background-position:
	   -50vmax -70vmax,
	   40vmax -30vmax,
	   10vmax 0vmax,
	   20vmax 10vmax,
	   30vmax 70vmax;
   }
   75% {
	 background-size: 
	   90vmax 90vmax,
	   90vmax 90vmax,
	   100vmax 100vmax,
	   90vmax 90vmax,
	   70vmax 70vmax;
	 background-position:
	   -50vmax -40vmax,
	   50vmax -30vmax,
	   20vmax 0vmax,
	   -10vmax 10vmax,
	   40vmax 60vmax;
   }
 }


/**************************** General ****************************/

body {
	font-family: "Space Mono";
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f4f4f9;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* The centered box */
#center-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-width: 300px;
	max-width: 700px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}

/* PONG title */
#center-box h1 {
	font-family: 'Block';
	padding: 10px;
}

/* Section title */
#center-box h2 {
	align-self: flex-start;
	justify-content: left;
	align-items: left;
	margin: 0px;
	padding: 10px;
	font-size: 1.5rem;
}

/* Sub-Section title */
#center-box h3 {
	align-self: flex-start;
	justify-content: left;
	align-items: left;
	margin: 0px;
	padding: 10px;
}

#center-box form {
	width: 100%;
	padding: 10px 10px 0 10px;
	box-sizing: border-box;
}

#center-box form label {
	font-size: 0.9rem;
	margin: 0px;
}

#center-box input,
#center-box textarea,
#center-box button {
	width: 100%;
	margin: 2px 0 10px 0;
	padding: 10px;
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

#center-box input {
	background-color: rgba(255, 255, 255, 0.1);
	border: 0;
}

#center-box input:focus,
#center-box input:valid,
#center-box input:invalid {
    background-color: rgba(255, 255, 255, 0.1); 
    outline: none; 
}

#center-box p {
	padding: 0 10px 0 10px;
	align-self: flex-start;
	font-size: 0.8rem;
}

#center-box small {
	padding: 0 10px 0 10px;
	align-self: flex-start;
	font-size: 0.8rem;
}

#center-box button {
    background-color: #d3d3d3;
    color: #505050;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#center-box button:hover {
    background-color: #696969;
	color: white;
}

/*/!\ can be deleted before push */
.tmpLangSelect {
	position: absolute;
    top: 25px;
    right: 11%;
    width: 40px;
	height: 30px;
    z-index: 10;
	background-color: rgba(255, 255, 255, 0.0);
	color: rgba(0,0,0, 0.5);
	font-size: 0.8rem;
	border: 1px solid rgba(0,0,0, 0.05);
	border-radius: 5px;
}

.vcenter {
    display: flex;
    align-items: center;
}

.hcenter {
	display: flex;
	justify-content: center;
}

.hright {
	display: flex;
	justify-content: right;
}

.input-and-button-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
	gap: 5px;
	padding: 10px 0 5px 0;
	/* background-color: red !important; */
}

.input-and-button-line input {
	margin: 0px !important;
	box-sizing: border-box;
}

.input-and-button-line button {
	width: auto !important;
	margin-bottom: 0px !important;
	padding: 0;
	font-size: 0.7rem;
	margin: 0px;
	box-sizing: border-box;
	white-space: nowrap;
	/* margin-left: 10px; */
}

/**************************** Navbar ****************************/

.bg-light {
	background-color: rgba(255, 255, 255, 0.9) !important;
	width: 100% !important;
	border-radius: 10px 10px 0 0 !important;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-family: "Block";
	margin: 5px 0 0 10px;
	font-size: 2.5rem;
	padding: 0;
}

.navbar-nav {
    display: flex;
	justify-content: flex-start;
    align-items: left;
	gap: 5px;
    padding-left: 0;
}

.navbar-nav .nav-item {
    margin: 0;
}


/* .navbar-nav .nav-item .nav-link {
	font-size: 0.9rem; 
} */

/* Div containing profile pic and user name on the right*/
.align-items-center {
	margin-right: 10px;
	padding-right: 10px;
}

/**************************** Navbar toggler ****************************/

/*Reshape the three bars collapsed navbar button*/
.navbar-toggler {
    width: 50px !important; 
    height: 50px; 
    padding: 10px;
	margin: 0 !important;
	background-color: rgba(255, 255, 255, 0) !important;
}

@media (max-width: 991px) {
	.navbar-collapse {
		position: absolute;
		top: 100%; 
		width: 100%;
		z-index: 1050;
		background-color: rgba(255, 255, 255, 0.9) !important;
		padding-left: 10px;
		padding-bottom: 10px;
	}
}


/**************************** Inner-content ****************************/

#innerContent {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/**************************** Register ****************************/

.register-view {
	box-sizing: border-box;
	width: 80%;
	margin: 10px;
}

.register-view h1 {
	margin: 0;
	padding-bottom: 0 !important;
	text-align: center;
	font-size: 2.5rem;
}

.successMessage {
	margin-top: 10px;
	color: rgb(77, 150, 77);
	/* color: rgb(97, 172, 97); */
}

.errorMessage {
	margin-top: 10px;
	color: rgb(175, 52, 52);
}

/* .register-view select {
	position: absolute;
	margin: 10px 20px 10px 10px;
	padding: 10px;
	width: 5px;
} */

.form-select {
	width: auto !important;
    max-width: 50px !important;
	/* width: 20px !important; */
}

.register-view select {
	position: absolute;
    top: 25px;
    right: 11%;
    width: 40px;
	height: 30px;
    z-index: 10;
	background-color: rgba(255, 255, 255, 0.0);
	color: rgba(0,0,0, 0.5);
	font-size: 0.8rem;
	border: 1px solid rgba(0,0,0, 0.05);
	border-radius: 5px;
}

#chatRoomsErrorMessage,
#chatRoomsSuccessMessage {
	margin: 0;
}

/**************************** Login ****************************/

.login-view {
	box-sizing: border-box;
	width: 80%;
	margin: 10px;
}

.login-view h1 {
	margin: 0;
	padding-bottom: 0 !important;
	text-align: center;
	font-size: 2.5rem;
}

.login-view select {
	position: absolute;
    top: 25px;
    right: 11%;
    width: 40px;
	height: 30px;
    z-index: 10;
	background-color: rgba(255, 255, 255, 0.0);
	color: rgba(0,0,0, 0.5);
	font-size: 0.8rem;
	border: 1px solid rgba(0,0,0, 0.05);
	border-radius: 5px;
}

/**************************** Home ****************************/

.home-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

.home-view h2 {
	font-size: 2.5rem !important;
}

.home-view .data-container {
	padding-top: 0 !important;
}

.home-view hr {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.home-view h3 {
	font-size: 1.5rem;
	padding-left: 0 !important;
	padding-top: 0 !important;
}

.home-view h4 {
	font-size: 1.2rem;
	padding-left: 0 !important;
	padding-top: 0 !important;
}

.home-view .data-container {
	background-color: transparent;
	padding: 10px;
}

.home-view p {
	/* color: red; */
	padding-left: 0 !important;
	margin-bottom: 10px !important;
}

.home-view th {
	font-weight: normal;
}

/**************************** Game ****************************/

.game-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-view button {
	/* background-color: rgba(255, 255, 255, 0.05) !important; */
	background-color: transparent !important;
	border: none !important;
	font-size: 1.5rem !important;
}

canvas {
	margin: 0 0 0 0 !important;
}

/**************************** GameLobby ****************************/

.gamelobby-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-top: 0;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

.gamelobby-view button {
	background-color: transparent !important;
	border: none !important;
	font-size: 1.5rem !important;
	margin-top: 0 !important;
}

.gamelobby-view #game-info {
	position: absolute;
	top: 15px;
	right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: transparent !important;
	border: 1px solid rgba(100, 100, 100, 0.5);
	border-radius: 5px;
	font-size: 0.8rem !important;
	color: rgba(100, 100, 100, 0.7);
}

.main-game-menu-title {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3.5rem;
}

.gamelobby-view h4 {
	font-size: 0.8rem;
}

#player-info-container {
	width: 100%;
	/* padding-top: 10px; */
}

.user-info {
	width: 50%;
	padding: 0px 10px 0px 10px !important;
	min-width: 120px;
}

#game-info #queue-timer {
	margin: 0px;
	padding: 0 5px 0 5px;
}

.player-two {
	text-align: right;
}

#invite-button {
	top: 100px;
	right: 100px;
	width: 100%;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 0 !important;
	font-size: 0.8rem !important;
	text-align: right;
}

.gamelobby-view hr {
	margin-top:  0;
}

#ready-button {
	border: 1px solid black !important;
	width: 150px !important;
	height: 50px !important;
	border-radius: 25px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-top: 50px !important;
	font-size: 1rem !important;
}

#ready-button:hover {
	border-color: white !important;
}

#rejoin-true-button {
	border: 1px solid black !important;
	width: 150px !important;
	height: 50px !important;
	border-radius: 25px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-top: 50px !important;
	font-size: 1rem !important;
}

#rejoin-true-button:hover {
	border-color: white !important;
}

#rejoin-false-button {
	border: 1px solid black !important;
	width: 150px !important;
	height: 50px !important;
	border-radius: 25px !important;
	padding: 0px !important;
	margin: 0px !important;
	margin-top: 50px !important;
	font-size: 1rem !important;
}

#rejoin-false-button:hover {
	border-color: white !important;
}

canvas {
	margin-top: 10px !important;
	width: 100%;
	height: auto;
	border: 10px solid black;
	border-radius: 5px;
}

#go-back-EOG {
	text-align: right !important;
	font-size: 1rem !important;
	background-color: transparent !important;
}

/**************************** Tournament ****************************/

.tournament-view {
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

.tournament-view h3 {
	padding: 10px 0px 0px 0px !important;
	text-align: center;
}

#tournament-name {
	margin-top: 20px !important;
}

.player-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
	gap: 5px;
	padding: 10px 0 5px 0;
}

.player-entry input {
	margin: 0px !important;
	box-sizing: border-box;
}

.player-entry select {
	width: 100px;
	height: 35px;
	font-size: 0.8rem;
	margin: 0px;
	background-color: rgba(209, 209, 209, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

#added-player { /* added player select */
	width: 78px;
}

.player-entry button {
	width: 20px !important;
	height: 35px !important;
	font-size: 0.8rem !important;
	margin: 0px !important;
	padding: 0px !important;
	background-color: transparent !important;
}

#add-player {
	margin-top: 10px !important;
}

/** Tournament matchup display */

.bracket h4 {
	text-align: center;
	padding-bottom: 0;
}

.bracket ul {
	padding: 0 !important;
}

.matchup {
    display: flex;
    justify-content: space-between;
	position: relative;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
	margin-bottom: 10px;
	font-size: 0.9rem;
}

.matchup .left-player,
.matchup .right-player {
    flex: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.matchup .left-player {
	justify-content: right;
	text-align: right;
	padding-right: 50px;
}

.matchup .right-player {
	justify-content: left;
	text-align: left;
	padding-left: 50px;
}

.matchup span {
	padding-left: 2px;
	padding-right: 2px;
}

.vs {
    font-weight: bold;
    font-size: 1rem;
    color: #555;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

/**Tournament integrated game view */
#match-container .gamelobby-view {
	padding: 0 !important;
	padding-left: 5% !important;
	padding-right: 5% !important;
	height: 450px !important;
	overflow-y: hidden !important;
}

/**************************** Leaderboard ****************************/

.leaderboard-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}


table {
	margin: 0 0 30px 0;
}

/**************************** Settings ****************************/

.settings-view {
	width: 80%;
	margin: 10px;
}

.form-select {
	background-color: rgba(255, 255, 255, 0.1) !important;
	margin: 0 10px 20px 0;
	min-width: 300px;
}

.form-select label {
	margin: 0 0 0 10px;
	color: red;
}

/**************************** Profile view ****************************/

.profile-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

.profile-view .card {
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}

.profile-view .card-body {
	background-color: transparent;
}

.profile-view h3 {
	padding-top: 0 !important;
	padding-left: 0 !important;
}

.profile-view p {
	padding-top: 0 !important;
	padding-left: 0 !important;
	margin-bottom: 10px !important;
}

.profile-view h4 {
	font-size: 1rem;
}

.profile-view .col-md-4 {
	align-items: center;
}


/**************************** Friends-view ****************************/

.friends-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

/* Tab titles */
/* .friends-view h3 {
	font-size: 1rem;
} */

.friends-view .nav-link {
	font-size: 0.7rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.5)
}

.friends-view .nav-item {
	font-size: 0.7rem;
	width: 25%;
}

.friends-view .tab-content {
	padding-top: 10px;
}

.profile-link {
	color: black;
	font-size: 1.3rem;
	padding: 0px !important;
}

.friends-view p {
	padding: 0px !important;
}

.list-group-item {
	margin-top: 10px;
	border-radius: 7px !important;
}

/* Friend Requests */
#friendRequestList button {
	margin: 0px !important;
	margin-left: 10px !important;
	width: 100px !important;
}

/* Sent Requests */
#sentFriendRequestList button {
	margin: 0px !important;
	width: 100px !important;
}

/* Blocked List */
#blockList button {
	margin: 0px !important;
	width: 100px !important;
}

/**************************** Chat ****************************/

.chat-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

.chat-view .nav-link {
	font-size: 0.7rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.5)
}

.chat-view .nav-item {
	font-size: 0.7rem;
	width: 33.33%;
}

.chat-view .tab-content {
	padding-top: 10px;
}

.chat-view h4 {
	background-color: transparent;
	font-size: 1rem;
	margin-bottom: 0px;
}

/****** Private messages ******/

/* Search bar */
.chat-views-searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#recipientUser {
	flex: 1; /* L'input prendra toute la largeur disponible */
}

.chat-views-searchbar button {
	width: auto !important;
	/* min-width: 100px !important; */
	/* width: 40%!important; */
	font-size: 0.7rem;
	white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

/* Room list */
.room-item p {
	margin-bottom: 0px;
}

#chat-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 5px 0 5px 0;
}

#chat-content-top button {
	width: auto !important;
	background-color: transparent !important;
	margin-bottom: 0px !important;
	font-size: 0.7rem;
}

#messages,
#chat-room-messages {
	height: 360px !important;
}

#chat-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
	gap: 5px;
	padding: 10px 0 5px 0;
}

#chat-content-bottom input {
	margin: 0px;
	box-sizing: border-box;
}

#chat-content-bottom button {
	width: 50px !important;
	margin-bottom: 0px !important;
	font-size: 0.7rem;
	margin: 0px;
	box-sizing: border-box;
	/* margin-left: 10px; */
}


/**************************** About ****************************/

.about-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}

/**************************** Personal data ****************************/

.personal-data-view {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
}
.personal-data-view h2 {
	padding-bottom: 20px !important;
}

.pp-and-login {
	padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.pp-and-login img {
	padding: 0;
}

.pp-and-login .ms-3 {
    flex-grow: 1;
}

.personal-data-view label {
	padding-bottom: 5px;
}

.personal-data-view select {
    width: 100%;
	height: 40px;
	padding: 10px;
	background-color: rgba(209, 209, 209, 0.5);
	font-size: 0.8rem;
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	margin-bottom: 20px;
}

/**************************** 404-view ****************************/

.error404-view {
	width: 80%;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	height: var(--inner-view-height);
	overflow-y: auto;
	box-sizing: border-box; 
	display: flex;
	align-items: center;
}

.error404-view h1 {
	font-size: 3rem;
	padding-left: 0 !important;
	/* width: 100%; */
	/* color: red !important; */
	/* background-color: red !important; */
}

/**************************** Scrollbar ****************************/

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
  
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
	background: rgba(150, 150, 150, 0.5);
	border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
	background: rgba(100, 100, 100, 0.5);
	border-radius: 5px;
}
