/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
	font-size: 1em;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

nav {
    background-color: #c51616;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#content {
    margin: 20px;
}

button:focus, a:focus {
    outline: 2px solid #007bff;
}
