# dependencies
.vscode
.idea

# misc
.DS_Store
*.pem

# local env files
# srcs/.env
pong-game/.env
.env
.env.local
.env.development.local

# Django stuff
*.log
/pong-game/backend/app/media/profile_images
/pong-game/backend/app/venv
/pong-game/backend/app/backend/__pycache__/

# Test dependencies
pong-game/tests/lib/

# C extensions
*.so
*.o

# Vault volume files
pong-game/security/vault/volumes/file/core
pong-game/security/vault/volumes/file/logical
pong-game/security/vault/volumes/file/sys
pong-game/security/vault/volumes/shared_data/*

# ELK certs
pong-game/monitoring/elk/certs
pong-game/monitoring/certs